.HomepageUi{
  background-image: url( https://png.pngtree.com/thumb_back/fw800/background/20230705/pngtree-illustration-of-3d-vector-concept-for-online-social-networking-chatting-and-image_3731419.jpg);
  max-width: 100vw;
  height: 90vh;
  display: flex;

 
}