.HomePageUI{
  background-image: url(https://img.freepik.com/premium-vector/social-networks-dating-apps-vector-seamless-pattern_341076-469.jpg);
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
 
.HomePageSection{
  background-color: white;
  width:500px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  padding: 4em;
  border-radius: 100px;
}

.ChatRoomLi{
  background: skyblue;
  color: yellow;
  font-size: x-large;
  margin: 6px;
  text-align: center;
  border-radius: 25px;
  position: relative;
  font-family: 'Dancing Script', cursive;
}

.ChatRoomLi::before {
  content: "🙂";
  position: absolute;
  left: -5px;

}

.ChatRoomLi:hover{
  background-color:purple;
  transform: scale(1.1);
}