.ui-page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ui-page-container {
  flex: 1;
  overflow: hidden;
}

.ui-chat-rooms {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.HomePageUI{
  background-image: url(https://img.freepik.com/premium-vector/social-networks-dating-apps-vector-seamless-pattern_341076-469.jpg);
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
 
.HomePageSection{
  background-color: white;
  width:31.25em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  padding: 4em;
  border-radius: 6.25em;
}
